<!-- /sections/featured-product.liquid -->

{%- assign product = all_products[section.settings.featured_product] -%}
{%- assign layout = section.settings.layout -%}
{%- assign bg_color = section.settings.bg_color | default: '#fff' -%}
{%- assign show_sale_badge = section.settings.show_sale_badge -%}
{%- assign enable_reviews = settings.enable_reviews -%}
{%- assign enable_swatches = settings.color_swatches -%}
{%- assign enable_video_looping = section.settings.enable_video_looping -%}
{%- assign enable_payment_button = section.settings.enable_payment_button -%}
{%- assign hide_product_thumbnails = section.settings.hide_product_thumbnails -%}
{%- if product.media.size < 2 -%}
	{%- assign hide_product_thumbnails = true -%}
{%- endif -%}

<section class="featured-product featured-product--{{ layout }}{% if product == blank %} featured-product--onboarding{% endif %} product--{{section.id}} product-single" id="featured-product" data-section-id="{{ section.id }}" data-section-type="featured-product" data-reviews="{{ enable_reviews }}" data-swatches="{{ enable_swatches }}" style="background-color: {{ bg_color }};">
	<div class="wrapper">
		<div class="grid">
			{%- unless product == blank -%}	
				{%- comment -%}
					Get first variant, or deep linked one
				{%- endcomment -%}
				{%- assign current_variant = product.selected_or_first_available_variant -%}
				{%- assign featured_media = current_variant.featured_media | default: product.featured_media -%}
				{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
				{%- assign featured_media_id = featured_media.id -%}
				{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
				{%- assign sold_out = true -%}
				{%- if current_variant.available -%}
					{%- assign sold_out = false -%}
				{%- endif -%}

				<!-- Product Photos -->
				{%- if layout == 'one-column' -%}
					<div class="grid__item large--one-quarter medium-down--hide"></div>
				{%- endif -%}

				<div class="grid__item large--one-half{% if layout == 'one-column' %} medium-down--one-whole{% endif %} product-single__media-wrapper{% if hide_product_thumbnails %} product-single__media-wrapper--no-thumbs{% endif %}">
					<div id="ProductPhoto--{{ section.id }}" data-product-single-media-group>

						<div class="product-single__media-slider{% if product.media.size == 1 %} product-single__media-slider--single{% endif %}" data-product-single-media-slider>
							{%- comment -%} Show Featured media first {%- endcomment -%}
							{%- for media in product.media -%}
								{%- if media.id == featured_media_id -%}
									{%- include 'media', media: media, featured_media: featured_media -%}
								{%- endif -%}
							{%- endfor -%}

							{%- comment -%} Loop product media thumbnails {%- endcomment -%}
							{%- for media in product.media -%}
								{%- if media.id != featured_media_id -%}
									{%- include 'media', media: media, featured_media: featured_media -%}
								{%- endif -%}
							{%- endfor -%}
						</div>

						{%- if first_3d_model -%}
							<button
								aria-label="{{ 'products.product.view_in_space_label' | t }}"
								class="btn btn--ar product-single__view-in-space"
								data-shopify-xr
								data-shopify-model3d-id="{{ first_3d_model.id }}"
								data-shopify-title="{{ product.title }}"
								data-shopify-xr-hidden
							>
								{%- include 'icon-media-model' -%}
								<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
							</button>
						{%- endif -%}
					</div>

					{%- unless hide_product_thumbnails -%}
						{%- if layout == 'one-column' -%}
							</div>
							<div class="grid__item largest--one-eighth">
						{%- endif -%}

						<!-- Product Thumbnails -->
						<div id="ProductThumbs--{{ section.id }}">
							<div class="product-single__thumbnails" data-product-single-media-thumbs>
								{%- comment -%} Show Featured media first {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id == featured_media_id -%}
										{%- include 'media-thumb', media: media, featured_media: featured_media -%}
									{%- endif -%}
								{%- endfor -%}

								{%- comment -%} Loop product media thumbnails {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id != featured_media_id -%}
										{%- include 'media-thumb', media: media, featured_media: featured_media -%}
									{%- endif -%}
								{%- endfor -%}
							</div>
						</div>
					{%- endunless -%}
				</div>

				<!-- Product Description -->
				<div class="grid__item product-description-wrapper large--one-half{% if layout == 'one-column' %} push--large--one-quarter text-center{% endif %}">
					{%- if section.settings.enable_vendor -%}
						<p class="product-vendor">{{ product.vendor }}</p>
					{%- endif -%}
					
					<!-- Product Form Snippet -->
					{%- include 'product-form' -%}
				</div>
			{%- else -%}
				{%- include 'onboarding-featured-product' -%}
			{%- endunless -%}
		</div>
	</div>
</section>

{%- unless product == blank -%}
	<script type="application/json" id="ProductJson-{{ section.id }}">{{ product | json }}</script>
	<script type="application/json" id="ModelJson-{{ section.id }}">{{ product.media | where: 'media_type', 'model' | json }}</script>
	<script type="text/javascript" async>
		document.addEventListener('DOMContentLoaded', function(event) {
			window.product = {{ product | json }};
			window.product.add_label = {% if product.options.size == 1 %}true{% else %}false{% endif %};
			window.product.label = "{{ product.options.first | escape }}";
			window.selectCallback = PaloAlto.onVariantSelected;
		});
	</script>
{%- endunless -%}

{% schema %}
	{
		"name": "Featured product",
		"class":"featured-product-section",
		"settings": [
			{
				"type": "product",
				"id": "featured_product",
				"label": "Product"
			},
			{
				"type": "select",
				"id": "layout",
				"label": "Layout",
				"default": "one-column",
				"options": [
					{ "label": "One column", "value": "one-column" },
					{ "label": "Two columns", "value": "two-columns" }
				]
			},
			{
				"type": "checkbox",
				"id": "hide_product_thumbnails",
				"label": "Hide product thumbnails",
				"default": false
			},
			{
				"type": "checkbox",
				"id": "enable_social_sharing_products",
				"label": "Show social sharing buttons",
				"default":true
			},
			{
				"type": "checkbox",
				"id": "show_sale_badge",
				"label": "Show sale badge",
				"default": true,
				"info": "Shows up on the first variant if it's on sale"
			},
			{
				"type": "checkbox",
				"id": "enable_payment_button",
				"label": "Show dynamic checkout button",
				"info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
				"default": true
			},
			{
				"type": "color",
				"id": "bg_color",
				"label": "Background",
				"default": "#fff"
			},
			{
				"type": "header",
				"content": "Media",
				"info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
			},
			{
				"type": "checkbox",
				"id": "enable_video_looping",
				"label": "Enable video looping",
				"default": false
			}
		],
		"presets": [
			{
				"name": "Featured product",
				"category": "Product"
			}
		]
	}
{% endschema %}