<style>
  @media screen and (max-width: 768px){
    .logo-list__container.disable-slider{
      height: 100%;
    }
    
    .logo-list__slider.disable-slider{
          flex-wrap: wrap;
    }
    
    .logo-title-container{
      margin-bottom: 30px;
    }
  }
</style>

{% comment %} Logos List {% endcomment %}
{%- if section.blocks.size > 0 -%}
<section data-section-id="{{ section.id }}" data-section-type="logo-list">
  <div class="logo-list" style="background-color: {{ section.settings.color_bg }};">
    <div class="wrapper">
      
      {%- if section.settings.title != blank -%}
        <div class="text-center list-collectons-title logo-title-container">
          <h2>{{ section.settings.title | escape }}</h2>
        </div>
      {%- endif -%}
    
      <div class="logo-list__container {% if section.settings.disable_slider %} disable-slider {% endif %}">
        <div class="logo-list__slider {% if section.settings.disable_slider %} disable-slider {% endif %}">
          {%- for block in section.blocks -%}
            {%- assign image = block.settings.image -%}
            {%- assign url = block.settings.url -%}
            {%- assign logos_width = block.settings.logos_width -%}

            {%- if image != blank -%}
              <div class="logo-list__slide" {{ block.shopify_attributes }}>
                <a href="{{ url }}"
                  class="logo-list__slide-image lazyload"
                  data-bgset="{% include 'bgset', image: image %}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  style="width: {{ logos_width | append: 'px' }};"
                  ></a>
                <noscript>
                  <a href="{{ url }}" class="logo-list__slide-image" style="background-image: url({{ image | img_url: '360x' }}); width: {{ logos_width | append: 'px' }};">
                  </a>
                </noscript>
              </div>
            {%- else -%}
              <div class="logo-list__slide" {{ block.shopify_attributes }}>
                <a href="#!" class="logo-list__slide-image svg-placeholder" style="width: {{ logos_width | append: 'px' }};">
                  {{ 'logo' | placeholder_svg_tag: 'placeholder-svg-filled' }}
                </a>
              </div>
            {%- endif -%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Logo list",
  "max_blocks": 25,
  "class": "logo-list",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background",
      "default": "#fff"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title"
    },
	{
      "type": "checkbox",
      "id": "disable_slider",
      "label": "Disable Slider on Mobile"
    }
  ],
  "blocks": [
    {
      "type": "item_logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "logos_width",
          "label": "Logos width",
          "min": 100,
          "max": 400,
          "step": 10,
          "unit": "px",
          "default": 120
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "item_logo"
        },
        {
          "type": "item_logo"
        },
        {
          "type": "item_logo"
        },
        {
          "type": "item_logo"
        },
        {
          "type": "item_logo"
        }
      ]
    }
  ]
}
{% endschema %}